/* تنظیم فرم‌های لاگین و ثبت‌نام */
.form-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #59a1b5; /* رنگ آبی */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

/* فیلدهای ورودی */
.form-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* دکمه‌ها */
.form-container button {
  width: 100%;
  background-color: #c3ece9; /* خاکستری */
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-container button:hover {
  background-color: #005599; /* آبی تیره هنگام هاور */
  color: white;
}
