<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>register-page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="form-container">
    <h2>Register Form</h2>
    <form action="/auth/register" method="POST">
        <label for="username">username :</label>
        <input type="text" id="username" name="username" required>

        <label for="email">email :</label>
        <input type="text" id="email" name="email">

        <label for="password">password :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sing up</button>
    </form>
    <p>Do you Have an account ? <a href="/auth/login">login</a></p>
</div>

</body>
</html>
